h1 {
    text-align: center;
}

.alert {
    display: flex;
    justify-content: space-around;
    align-items: center;
    div:first-child {
        border: 1px solid;
        padding: 10px 45px;
    }
}